@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Lato;
   overflow: scroll;
   overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body.light {
    --background-color: white;
    --text-color: black;
}

body.dark {
    --background-color: black;
    --text-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    padding: 16px;
    margin: auto;
}
